.nameLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.name {
  color: #0365d9;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1px;
}
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.company {
  border-radius: 12px;
}
.desc {
  font-size: 14px;
  line-height: 18px;
}
