.root {
  height: fit-content;
}
.navbar {
  display: flex;
  gap: 20px;
  height: 40px;
  position: sticky;
  top: 0px;
  z-index: 200;
  background-color: black;
  padding: 20px;
}
.headingButton {
  color: #c5c6d0;
  padding: 0px;
  margin: 0px;
  opacity: 0.8;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  @media screen and (max-width: 1024px) {
    font-size: 16px;
  }
}
.selectedHeadingButton {
  opacity: 1;
  @extend .headingButton;
  color: #ffdb70;
  font-size: 22px;
  letter-spacing: 2px;
}
.contentSection {
  margin-top: 20px;
  padding: 20px;
  height: 100% !important;
}
