.makeCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.root{
    @extend .makeCenter;
    margin-top: 10vh;
    font-family: 'Poppins', sans-serif;
}
.darkText{
    color: #7b3f00;
}
.lightText{
    color: #c5c6d0;
}