.makeCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.root {
  @extend .makeCenter;
  width: 100%;
  font-family: "Nunito", sans-serif;
}
.darkText {
  color: #7b3f00;
}
.lightText {
  color: #c5c6d0;
}
.name {
  font-size: 34px;
  font-family: "Nunito" sans-serif;
}
.designation {
  margin-top: 25px;
  font-size: 20px;
}
.aboutMe {
  display: flex;
  width: 100%;
  gap: 20px;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.desc {
  width: 100%;
  border-radius: 16px;
  min-height: 100vh;
  background-color: #1e1e1f;

  @media screen and (max-width: 1024px) {
    width: 100%;
    border-radius: 12px;
  }
}
.profile {
  width: 30%;
  height: 100vh;
  min-width: 320px;
  border-radius: 16px;
  background-color: #1e1e1f;
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
  }
}
