.darkTheme{
    background-color: black;
    color: white;
    transition: background-color 0.5s ease;
}
.lightTheme{
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
}