.root {
  height: 35px;
  width: 35px;
  border: 1px solid white;
  border-radius: 8px;

  animation: slideDown 2s ease-in-out forwards;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.label {
  opacity: 0;
}
.root:hover {
  transform: scale(1.2);
}
.root:hover .label {
  opacity: 1;
}
@keyframes slideDown {
  0% {
    top: 91vh;
    opacity: 0;
  }
  100% {
    top: 91vh;
    opacity: 1;
  }
}
